<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
                <h3 class="content-header-title mb-0 d-inline-block">Reporte Liquidaciones</h3>
                <div class="row breadcrumbs-top d-inline-block">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item active">Reporte Liquidaciones
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <form #formReport="ngForm" (ngSubmit)="getReportPaying(formReport)" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-2">
                    <div class="input-group-static">
                        <label>Fecha Inicial</label>
                        <input class="form-control calendar-input" [matDatepicker]="pickerI" name="f_inicial">
                        <mat-datepicker-toggle matSuffix [for]="pickerI"></mat-datepicker-toggle>
                        <mat-datepicker #pickerI></mat-datepicker>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group-static">
                        <label>Fecha Final</label>
                        <input class="form-control calendar-input" [matDatepicker]="pickerF" name="f_final">
                        <mat-datepicker-toggle matSuffix [for]="pickerF"></mat-datepicker-toggle>
                        <mat-datepicker #pickerF></mat-datepicker>
                    </div>
                </div>
                <div class="col-md-3" style="text-align: center;">
                    <div class="dropdown">
                        <select class="form-control mb-3 select-margin" name="sucursal" #sucursal="ngModel"
                            [(ngModel)]="report.sucursal">
                            <option value="">Sucursal</option>
                            <option value="01">Amecameca</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4" style="text-align: center;">
                    <div class="dropdown">
                        <select class="form-control mb-3 select-margin" name="asesor" #asesor="ngModel"
                            [(ngModel)]="report.asesor">
                            <option value="">Asesor</option>
                            <option *ngFor="let asesores of asesores;" value="{{asesores.id}}">
                                {{asesores.nombres + ' ' + asesores.paterno}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1 botonEnd" style="text-align: center;margin-top: 30px">
                    <input type="submit" value="Buscar" class="btn btn-lg btn-success lineCenter"
                        [disabled]="!formReport.form.valid" />
                </div>
            </div>
        </form>
        <div class="row">
            <div class="card">
                <div class="table-responsive">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Prestamo
                                    ID</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cliente
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cliente
                                    ID</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Monto
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fecha
                                    Desembolso</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fecha
                                    Liquidacion</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Asesor
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let report of reportInfo;">
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                            <p class="text-xs font-weight-bold mb-0">{{report.prestamo_id}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">{{report.paterno}} {{report.materno}}
                                        {{report.nombres}}</p>
                                </td>
                                <td class="align-middle text-sm">
                                    <span class="text-xs font-weight-bold mb-0">{{report.cliente_id}}</span>
                                </td>
                                <td class="align-middle text-sm">
                                    <span class="text-xs font-weight-bold mb-0">{{report.monto}}</span>
                                </td>
                                <td class="align-middle">
                                    <span class="text-xs font-weight-bold mb-0">{{report.fecha_des}}</span>
                                </td>
                                <td class="align-middle">
                                    <span class="text-xs font-weight-bold mb-0">{{report.fecha_liquidacion}}</span>
                                </td>
                                <td class="align-middletext-sm">
                                    <span class="text-xs font-weight-bold mb-0">{{report.asesor_paterno}}
                                        {{report.asesor_materno}} {{report.asesor_nombre}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>