<app-menu />
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row">
      <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
        <h3 class="content-header-title mb-0 d-inline-block">Historial</h3>
        <div class="row breadcrumbs-top d-inline-block">
          <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Dashboard</a>
              </li>
              <li class="breadcrumb-item active">Historial
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-12">
      @if(info){
        @if(infoAval){
          <div class="card hadow-lg">
            <div class="card-header text-center pt-4 pb-3 bg-transparent aval-alert">
              <h4 class="font-weight-bold mt-2">
                {{clienteInfo.cod_nombres
                  +' '+ clienteInfo.cod_paterno +' '+
                  clienteInfo.cod_materno}}
              </h4>
              <h3>Es Aval De:</h3>
            </div>
          </div>
        }
        <div class="card shadow-lg">
          <div class="card-header text-center pt-4 pb-3 bg-transparent">
            <div class="row d-flex justify-content-lg-start justify-content-center p-2">
              <h3 class="col-6 font-weight-bold mt-2 text-body">
                Cliente: <span>{{clienteInfo.cliente_id}}</span>
              </h3>
              <h3 class="col-6 font-weight-bold mt-2 text-body">
                Ciclos: <span>{{clienteInfo.no_credito}}</span>
              </h3>
            </div>
          </div>
          <div class="card-body text-lg-start text-center pt-0">
            <div class="row d-flex justify-content-lg-start justify-content-center p-2">
              <span class="col-6 ps-3 text-body">Nombre: <span
                  class="tps-3 text-body font-weight-bold">{{clienteInfo.nombres
                  +' '+ clienteInfo.paterno +' '+
                  clienteInfo.materno}}</span></span>
              <span class="col-6 ps-3 text-body">Correo: <span
                  class="tps-3 text-body font-weight-bold">{{clienteInfo.correo}}</span></span>
            </div>
            <div class="row d-flex justify-content-lg-start justify-content-center p-2">
              <span class="col-6 ps-3 text-body">Telefonos: <span
                  class="tps-3 text-body font-weight-bold">{{clienteInfo.telefono
                  +' '+ clienteInfo.telefono2}}</span></span>
              <span class="col-6 ps-3 text-body">Dependientes: <span
                  class="tps-3 text-body font-weight-bold">{{clienteInfo.no_dependientes}}</span></span>
            </div>
            <div class="row d-flex justify-content-lg-start justify-content-center p-2">
              <span class="col-6 ps-3 text-body">Curp: <span
                  class="tps-3 text-body font-weight-bold">{{clienteInfo.curp}}</span></span>
              <span class="col-6 ps-3 text-body">Ine: <span
                  class="tps-3 text-body font-weight-bold">{{clienteInfo.ine}}</span></span>
            </div>
            <div class="row d-flex justify-content-lg-start justify-content-center p-2">
              <span class="col-6 ps-3 text-body">Fecha de nacimiento: <span
                  class="tps-3 text-body font-weight-bold">{{clienteInfo.fecha_de_nacimiento}}</span></span>
              <span class="col-6 ps-3 text-body">Imagenes: <span class="tps-3 text-body font-weight-bold"><a
                    href="http://adminqa0.paayito.com/backqa/public/ines/{{clienteInfo.img_ine}}" target="_blank"
                    rel="noopener noreferrer">Ine</a></span><span> - </span>
                <span class="tps-3 text-body font-weight-bold"><a
                    href="http://adminqa0.paayito.com/backqa/public/domicilios/{{clienteInfo.img_domicilio}}"
                    target="_blank" rel="noopener noreferrer"> Domicilio</a></span>
              </span>
            </div>
            <div class="row d-flex justify-content-lg-start justify-content-center p-2">
              <span class="col-4 ps-3 text-body">Sexo: <span
                  class="tps-3 text-body font-weight-bold">{{clienteInfo.sexo}}</span></span>
              <span class="col-4 ps-3 text-body">Estado civil: <span
                  class="tps-3 text-body font-weight-bold">{{clienteInfo.estado_civil}}</span></span>
              <span class="col-4 ps-3 text-body">Tipo de vivienda: <span
                  class="tps-3 text-body font-weight-bold">{{clienteInfo.tipo_de_vivienda}}</span></span>
            </div>
            <div class="row d-flex justify-content-lg-start justify-content-center p-2">
              <span class="col-12 ps-3 text-body">Direccion: <span
                  class="tps-3 text-body font-weight-bold">{{clienteInfo.calle
                  +', '+ clienteInfo.numero +', '+ clienteInfo.colonia +', '+
                  clienteInfo.municipio +', '+ clienteInfo.estado +', '+
                  clienteInfo.cp}}</span></span>
            </div>
            <div class="row d-flex justify-content-lg-start justify-content-center p-2">
              <span class="col-6 ps-3 text-body">Descripcion: <span
                  class="tps-3 text-body font-weight-bold">{{clienteInfo.descripcion}}</span></span>
              <span class="col-6 ps-3 text-body">Ubicacion: <span
                  class="tps-3 text-body font-weight-bold">{{clienteInfo.ubicacion}}</span></span>
            </div>
          </div>
        </div>
        @if(creditNull){
          <div class="card hadow-lg">
            <div class="card-header text-center pt-4 pb-3 bg-transparent">
              <h3 class="font-weight-bold mt-2 text-body">
                No Tiene Prestamos
              </h3>
            </div>
          </div>
        }@else{
          <div class="card hadow-lg">
            <div class="card-header text-center pt-4 pb-3 bg-transparent">
              <h3 class="font-weight-bold mt-2 text-body">
                Prestamos
              </h3>
            </div>
            <div class="card-body text-lg-start text-center pt-0">
              <div class="row">
                <div class="card">
                  <div class="table-responsive">
                    <table class="table align-items-center mb-0">
                      <thead>
                        <tr>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">No. Credito
                          </th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Prestamo
                            ID</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Monto
                          </th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cuota
                          </th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">No Pagos
                          </th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Plazo
                          </th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Primer Pago
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        @for (prestamo of prestamosInfo; track $index) {
                        <tr>
                          <td>
                            <div class="d-flex px-2 py-1">
                              <div class="d-flex flex-column justify-content-center">
                                <p class="text-xs font-weight-bold mb-0">{{prestamo.pres_no_credito}}</p>
                              </div>
                            </div>
                          </td>
                          <td>
                            <p class="text-xs font-weight-bold mb-0"><button class="btn btn-gradient-primary" (click)="modalHistory(prestamo.prestamo_id)">{{prestamo.prestamo_id}}</button></p>
                          </td>
                          <td class="align-middle text-sm">
                            <span class="text-xs font-weight-bold mb-0">{{prestamo.pres_monto}}</span>
                          </td>
                          <td class="align-middle text-sm">
                            <span class="text-xs font-weight-bold mb-0">{{prestamo.pres_cuota}}</span>
                          </td>
                          <td class="align-middle">
                            <span class="text-xs font-weight-bold mb-0">{{prestamo.plazo_cuotas}}</span>
                          </td>
                          <td class="align-middle">
                            <span class="text-xs font-weight-bold mb-0">{{prestamo.plazo_periodos}}</span>
                          </td>
                          <td class="align-middletext-sm">
                            <span class="text-xs font-weight-bold mb-0">{{prestamo.pres_fecha_ini}}</span>
                          </td>
                        </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        }

      }@else{
        <div class="card hadow-lg">
          <div class="card-header text-center pt-4 pb-3 bg-transparent">
            <h3 class="font-weight-bold mt-2 text-body">
              No Existe Informacion
            </h3>
          </div>
        </div>
      }

    </div>
  </div>
</div>
